In [1]:
import pandas as pd

notas = pd.read_csv("ml-latest-small/ratings.csv")
notas.columns = ["usuarioId", "filmeId", "nota", "momento"] #alterando o nome das colunas
notas.head() # 5 primeiros elementos

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [3]:
filmes = pd.read_csv("ml-latest-small/movies.csv")
filmes.columns = ["filmeId", "titulo", "generos"]
filmes.head(2)

   filmeId            titulo                                      generos
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [4]:
notas.head(2)

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247

In [5]:
notas_do_toy_story = notas.query("filmeId==1")
notas_do_jumanji = notas.query("filmeId==2")

In [6]:
print("Toy Story:", len(notas_do_toy_story))
print("Jumanji:", len(notas_do_jumanji))

Toy Story: 215
Jumanji: 110